*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productCard-container{
   display: flex;
   flex-direction: column;
   gap: 30px;
padding: 1rem;
  border: 1px solid black;
}

img{
    width: 100%;
    min-width: 100%;
}
.name{
    display: flex;
   justify-content: space-between;
}
.price{
    text-align: center;
}
.btn-add{
    width: 50%;
 align-self: center;
 font-size: 20px;
    
}

.btn-add:hover{
    background-color: aquamarine;
}